.ExpContainer{
    padding-bottom: 100px;
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 10% 80% 10% ;
}

.ExpertieTextContainer{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 1fr 1fr;
}

.ExpertiseFristText{
    grid-column: 1/3;
    grid-row: 1/1;
    background-color: rgba(250, 244, 244, 0.925);
    color: #1d548c;
    font-size: 13px;
    border-radius: 6px;
    width: 100px;
    height: 40px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    margin-bottom: -60px;
}
.ExpertiseSecondText{
    grid-column: 1/2;
    color: #06213b;
    margin-bottom: -20px;
}
.ExpertiseButton{
    grid-column: 2/3;
    align-self: center;
    justify-self: right;

}
.ExpBtnStyling{
    background-color: #1d548c;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 15px 40px;
    font-size: 1rem;
    letter-spacing: 1px;
}

.ExpSkillsContainer{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 80px;
}

.ExpSkillsContainer h2{
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
}

.ExpSkillsContainer p:nth-of-type(1){
    font-family: 'Playfair Display', serif;
    color: #06213b;
    font-size: 1.3rem;
}
.ExpSkillsContainer p:nth-of-type(2){
    color: #06213b;
    font-size: 0.8rem;
}

.ExpertiseOverride{
    background-color: #1d548c !important; 
}

@media screen and (min-width: 600px ) and (max-width: 780px) {
    .ExpSkillsContainer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .ExpContainer{
        padding-bottom: 150px;
    }
}

@media screen and (min-width: 320px ) and (max-width: 599px) {
    .ExpContainer{
        padding-bottom: 200px;
    }
    .ExpSkillsContainer{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-column-gap: 20px;
    }
    .ExpertiseFristText{
        font-size: 0.7rem;
        border-radius: 6px;
        width: 70px;
        height: 35px;
    }
    .ExpertiseSecondText{
        font-size: 0.9rem;
    }
 
    .ExpBtnStyling{
        padding: 10px 20px;
        font-size: 0.8rem;
        letter-spacing: 1px;
    }


    .ExpSkillsContainer h2{
        font-size: 2rem;
    }
    
    .ExpSkillsContainer p:nth-of-type(1){
        font-size: 1rem;
    }
    .ExpSkillsContainer p:nth-of-type(2){
        font-size: 0.8rem;
    }
    
 
}